<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.nicolapps.tpgwidget" version="2.4.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TPGwidget</name>
    <description>
        Avec TPGwidget, créez un raccourci pour votre arrêt de bus ou de tram préféré.
    </description>
    <author email="tpgwidget@nicolapps.ch" href="http://www.nicolapps.ch/">
        TPGwidget
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="29" src="res/Icon-29.png" width="29" />
        <icon height="40" src="res/Icon-40.png" width="40" />
        <icon height="58" src="res/Icon-58.png" width="58" />
        <icon height="76" src="res/Icon-76.png" width="76" />
        <icon height="80" src="res/Icon-80.png" width="80" />
        <icon height="87" src="res/Icon-87.png" width="87" />
        <icon height="120" src="res/Icon-120.png" width="120" />
        <icon height="152" src="res/Icon-152.png" width="152" />
        <icon height="180" src="res/Icon-180.png" width="180" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#000000" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <engine name="ios" spec="~4.2.1" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
