body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#f60;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
	background-color: #f60;
	-webkit-transition: background-color .2s linear;
    color:#fff;
}

.graym {
	height: 100%;
	width: 100%;
	text-align: center;
}

.graym span {
    margin-top:30px;
    width:100px;
    height: 100px;
	font-size: 10em;
	white-space: nowrap;
}

.graym h1 {
    font-size: 6em;
    margin:0;
}

.welcomescreen-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10500;
  color: #666;
  font-size: 16px;
}

.welcomescreen-closebtn{
  top: 5px;
  right: 5px;
  position: absolute;
  text-align: right;
  z-index: 9998;
  font-size: 14px;
  padding: 15px;
}

.welcomescreen-text > .close-welcomescreen{
    color:#fff;
    border:1px solid #fff;
    padding:10px;
    border-radius: 5px;
}

.welcomescreen-text > .close-welcomescreen.active-state{
   background-color: #fff;
   color:#000;
}

.welcomescreen-swiper {
  position:relative;
  width: 100%;
  height: 100%;
}

.welcomescreen-picture{
  text-align: center;
  margin-top: 15%;
}

.welcomescreen-picture img {
  width: 300px;
  height: 280px;

}

.welcomescreen-text {
  position:absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
}
.welcomescreen-content {
  padding: 15px;
}

.welcomescreen-container .swiper-pagination-bullet{
  background: rgba(255, 255, 255, 0.9) !important;
}

.welcomescreen-container .swiper-pagination-bullet-active{
  background: #fff;
}

.swiper-container-horizontal>.swiper-pagination{
  bottom: 20px;
}

html.with-statusbar-overlay .welcomescreen-container{
    top: 20px;
}

.statusbar-overlay {
    background:#f60;
}

.item-title > span {
    display:none;
}

ul.lignes {
    margin:0;
    padding:0;
    color:#fff;
    text-align: center;
}

ul.lignes li {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin:2px;
    display:inline-block;
    padding:3px 0px;
    border-radius:20px;
    min-width:49px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.card-footer a {
    width:100%;
}

#contenu, section.fav {
    display:none;
}

span.logo {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
}

span.logo > span {
    font-size: 0.75em;
    font-style: italic;
}

/* iPhone X/XS/“11 Pro” status bar */
@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .statusbar-overlay {
        height: 44px;
    }

    html.with-statusbar-overlay body {
        padding-top:44px;
    }
    
    .welcomescreen-closebtn {
        top: 20px;
    }
    
    .swiper-container-horizontal > .swiper-pagination {
        bottom: 32px;
    }
    
    .welcomescreen-text {
        bottom: 100px;
    }
}

/* iPhone XR/11 status bar */
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
    .statusbar-overlay {
        height: 44px;
    }

    html.with-statusbar-overlay body {
        padding-top:44px;
    }
    
    .welcomescreen-closebtn {
        top: 20px;
    }
    
    .swiper-container-horizontal > .swiper-pagination {
        bottom: 32px;
    }
    
    .welcomescreen-text {
        bottom: 100px;
    }
}

/* iPhone “XS Max”/“11 Pro Max” status bar */
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 3) {
    .statusbar-overlay {
        height: 44px;
    }

    html.with-statusbar-overlay body {
        padding-top:44px;
    }
    
    .welcomescreen-closebtn {
        top: 20px;
    }
    
    .swiper-container-horizontal > .swiper-pagination {
        bottom: 32px;
    }
    
    .welcomescreen-text {
        bottom: 100px;
    }
}
