body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    background-color:#f60;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.navbar {
	background-color: #f60;
	-webkit-transition: background-color .2s linear;
    color:#fff;
}

.graym {
	height: 100%;
	width: 100%;
	text-align: center;
}

.graym span {
    margin-top:30px;
    width:100px;
    height: 100px;
	font-size: 10em;
	white-space: nowrap;
}

.graym h1 {
    font-size: 6em;
    margin:0;
}

.welcomescreen-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10500;
  color: #666;
  font-size: 16px;
}

.welcomescreen-closebtn{
  top: 5px;
  right: 5px;
  position: absolute;
  text-align: right;
  z-index: 9998;
  font-size: 14px;
  padding: 15px;
}

.welcomescreen-text > .close-welcomescreen{
    color:#fff;
    border:1px solid #fff;
    padding:10px;
    border-radius: 5px;
}

.welcomescreen-text > .close-welcomescreen.active-state{
   background-color: #fff;
   color:#000;
}

.welcomescreen-swiper {
  position:relative;
  width: 100%;
  height: 100%;
}

.welcomescreen-picture{
  text-align: center;
  margin-top: 15%;
}

.welcomescreen-picture img {
  width: 300px;
  height: 280px;

}

.welcomescreen-text {
  position:absolute;
  bottom: 65px;
  left: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  text-align:center;
}
.welcomescreen-content {
  padding: 15px;
}

.welcomescreen-container .swiper-pagination-bullet{
  background: rgba(255, 255, 255, 0.9) !important;
}

.welcomescreen-container .swiper-pagination-bullet-active{
  background: #fff;
}

.swiper-container-horizontal>.swiper-pagination{
  bottom: 20px;
}

html.with-statusbar-overlay .welcomescreen-container{
    top: 20px;
}

.statusbar-overlay {
    background:#f60;
}

.item-title > span {
    display:none;
}

ul.lignes {
    margin:0;
    padding:0;
    color:#fff;
    text-align: center;
}

ul.lignes li {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin:2px;
    display:inline-block;
    padding:3px 0px;
    border-radius:20px;
    min-width:49px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.card-footer a {
    width:100%;
}

#contenu, section.fav {
    display:none;
}

span.logo {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2em;
    font-weight: normal;
}

span.logo > span {
    font-size: 0.75em;
    font-style: italic;
}

.l2, .l12, .l19, .l28, .l34, .l42, .l43, .l45, .l53, .l57, .l61, .lB, .lZ, .lY, .lT, .lO, .lK, .lG, .lF, .lM, .lDn, .lDN, .lD, .lNJ, .lNK,.lN, .lNM{color:#000;}.l1,.l14,.l22{background:#639}.l2{background:#cc3}.l3,.l18,.l23{background:#c39}.l4,.l9{background:#c03}.l5,.lNV{background:#09f}.l6{background:#09c}.l7{background:#093}.l8,.l15{background:#933}.l10{background:#063}.l11{background:#939}.l12{background:#f90}.l19,.l28{background:#fc0}.l21{background:#633}.l25{background:#805a28}.l27{background:#009dbc}.l31,.l33,.l41,.l44,.l46,.l49,.l51,.l54,.l56{background:#099}.l32,.l35,.l36,.lXA{background:#666}.l34,.l42,.l43,.l45,.l53,.l57{background:#9cc}.l47,.lNP{background:#00b0a4}.l61,.lDN,.lN,.lM,.lO,.lT,.lB,.lD,.lF,.lG,.lK,.lY,.lZ{background:#ff9baa}.lA,.lC,.lE,.lJ,.lL,.lV{background:#f60}.lNA{background:#5a1e82}.lNC{background:#5e3285}.lND{background:#84471c}.lNE,.lNO{background:#b82f89}.lNJ{background:#d2db4a}.lNK,.lNM{background:#f5a300}.lNS{background:#008cbe}.lNT{background:#00ace7}.lP,.lS,.lW,.lX,.lU{background:#039}.lTO{background:#e2001d}.lTT{background:#fd0000}.l80,.l81,.l82,.l83,.l84,.l85,.l86,.l88,.lS1,.lSL,.l92,.l93,.l94,.l96,.l97{color:#000;border: 1px solid #000;}.l5plus,.lGplus,.lCplus,.lGplus,.lVplus.lPlus{background:#000}